* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* @font-face{
src: url('./fonts/static/PublicSans-Light.ttf');
font-family: "Public Sans light";
}
@font-face{
src: url('./fonts/static/PublicSans-Regular.ttf');
font-family: "Public Sans";
}
@font-face{
src: url('./fonts/static/PublicSans-Bold.ttf');
font-family: "Public Sans bold";
} */



:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}
p {
  color: var(--Grayish-Blue);
  line-height: 1.5rem;
  /* font-family: "Public Sans"; */
  /* font-weight: 300; */
}
button.btn-primary {
  color: var(--White);
  font-weight: 700;
  font-size: 1em;
  padding: 1em;
  width: 50vw;
  border-radius: 3rem;
  border: none;
  outline: none;
  background-image: linear-gradient(90deg,var(--Lime-Green), var(--Bright-Cyan));
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--White);
  /* position: fixed; */
  width: 100%;
}
menu {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: orange;
  /* display: none; */
}
nav img,
figure img {
  width: 100%;
}
div.logo {
  width: 139px;
  height: 20px;
}
div.burger {
  width: 24px;
  height: 11px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
}
div.burger > div.line {
  padding: 0.09rem;
  background-color: var(--Grayish-Blue);
}
header > figure {
  background-image: url("./images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: -48px;
  background-size: cover;
  height: 385px;
  position: relative;
  overflow: hidden;
}
header > figure > img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 104px;
}
header > figure,
header > article,
main {
  padding: 1rem;
}
header > article {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
header > article h1 {
  font-weight: 400;
  /* font-family: "Public Sans light", sans-serif; */
  font-size: 2.3em;
  width: 330px;
}
main {
  margin-top: 9rem;
  margin-bottom: 9rem;
}
main > section.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
main > section.features > div.container > div,
main > section.features > div.container > div > article,
main > section.features > div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main > section.features > div.container {
  margin-top: 3rem;
}
main > section.features > div.container > div > article {
  gap: 0.5rem;
}
section.features > div.container > div > article p {
  padding: 0.9rem;
}
main > section.articles {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}
main > section.articles > section.container article{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main > section.articles > section.container article figure img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main > section.articles > section.container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
main > section.articles > section.container article > article {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer {
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
footer > section.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
footer > section.container > section:first-child > div.logo svg {
  height: 50vw;
}
footer > section.container > section:first-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer > section.container > section:first-child > div.socials > svg path {
  fill: var(--White);
}
footer > section.container > section:first-child > div.socials {
  display: flex;
  gap: 0.7rem;
}
footer > section.container > section:first-child > div.socials > svg {
  width: 35px;
  height: 35px;
}
 footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--White);
  gap: 1rem;
  font-weight: 400;
 }
 footer > section.container > section:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
 }